NEXT_PUBLIC_SUPABASE_URL=https://zfxzbkhtuwhbnmcxnkxu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_1znOEEQFXNJ_rkY8Ib2iMw_F5cijnyi

RESEND_API_KEY=
EMAIL_FROM=DOKAN Bratislava <dokanbratislava@gmail.sk>
